{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block body%}
<div class = "container-fluid">

    <div class = "row">

        <div class = "col-md-4 col-md-offset-4">
            <div class="panel panel-default ">
                <div class = "panel-body">
                    <h3>Create new account!</h3>
                    <form class = "form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include "registration/basic_form.html" %}
                        <div class = "form-horizontal">
                            <div class = "col-sm-offset-5">
                                <br>
                                <button type="submit" class="btn btn-success" >Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}