{% extends "base.html" %}

{% block body%}

<div class = "row">
        <div class="thumbnail col-md-6 col-md-offset-3">
                <h1>{{ question.quest_name }}</h1>
                <h3>Posted by {{ question.user }}</h3>
                <br>
                Published: {{question.pub_date|date:'d M Y'}} at {{question.pub_date|date:'H:i'}}
                <p>{{question.quest_text}}</p>
                        <div class="col-md-offset-9">
                                {% if question.user.id == user.id %}
                                        <form action="{% url 'postovi:update' question.id %}" style="display: inline" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="glyphicon glyphicon-trash btn btn-info">Update</button>
                                        </form>            
                                        <form action="{% url 'postovi:delete' question.id %}" style="display: inline" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="glyphicon glyphicon-trash btn btn-danger">Delete</button>
                                        </form>     
                                {% endif %}
                                     
                        </div>
                
                </div>

</div>



{% endblock %}