{% extends "base.html" %}

{% block body%}

{% for question in object_list %}
    <div class="row">
        <div class = "col-md-5 col-md-offset-3">
            <div class = "thumbnail">
                   <a  href="{% url 'postovi:detail' question.id %}" ><h1>{{question.quest_name}}</h1></a>
                <h3>{{question.pub_date|date:'d M Y'}} at {{question.pub_date|date:'H:i'}}</h3>

                <div class="col-md-offset-10">
                    <form action="{% url 'postovi:delete' question.id %}" style="display: inline" method="POST">
                            {% csrf_token %}
                            {% if question.user.id == user.id %}
                            <button type="submit" class="glyphicon glyphicon-trash btn btn-danger">Delete</button>
                            {% endif %}
                            
                    </form>            
                </div>
                
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}